<div class="row   equal-height-columns     no-padding bo-border " style=" width:1920px;height: 175px"
     ng-controller="DashboardCtrl">
    <div class="col-lg-3  ">
        <div class="" uib-dropdown style="margin-left: 50px">

            <a  ui-sref="app.energysavingmotor"  uib-dropdown-toggle type="button" ng-click="clickFooterButton('firstshow')">
                <img ng-show="firstshow"
                     ng-class="firstshow==true?'active-img inner item-component above-horizon rotateimg  img-responsive center-block':' '"
                     style="position:absolute;margin-top: -15px;margin-left: 50px" class=" "
                     src="assets/img/speed/rotate_33.png">
                <img style="position:absolute;;margin-top: 0px;margin-left: 53px"
                     class="inactive-img inner    flashimg img-responsive center-block  "
                     src="assets/img/speed/energysavingimages/jienengliangzhanshibutton_64.png">
            </a>



        </div>

    </div>

    <div class="col-lg-3 ">
        <div class="" uib-dropdown style="margin-left: 50px">
            <a ui-sref="app.energysavinglight"  uib-dropdown-toggle type="button" ng-click="clickFooterButton('secondshow')">
                <img ng-show="secondshow"
                     ng-class="secondshow==true?'active-img inner item-component above-horizon rotateimg  img-responsive center-block':' '"
                     style="position:absolute;margin-top: -15px;margin-left: 50px" class=" "
                     src="assets/img/speed/rotate_38.png">
                <img style="position:absolute;;margin-top: 0px;margin-left: 53px"
                     class="inactive-img inner    flashimg img-responsive center-block  "
                     src="assets/img/speed/energysavingimages/jienengliangzhanshibutton_69.png">
            </a>


        </div>
    </div>

    <div class="col-lg-3 ">
        <div class="" uib-dropdown style="margin-left: 50px">

            <a  ui-sref="app.energysavingheatpump"  uib-dropdown-toggle type="button" ng-click="clickFooterButton('thirdshow')">
                <img ng-show="thirdshow"
                     ng-class="thirdshow==true?'active-img inner item-component above-horizon rotateimg  img-responsive center-block':' '"
                     style="position:absolute;margin-top: -15px;margin-left: 50px" class=" "
                     src="assets/img/speed/rotate_36.png">
                <img style="position:absolute;;margin-top: 0px;margin-left: 53px"
                     class="inactive-img inner    flashimg img-responsive center-block  "
                     src="assets/img/speed/energysavingimages/jienengliangzhanshibutton_71.png">
            </a>



        </div>

    </div>

    <div class="col-lg-3 ">
        <div class="" uib-dropdown style="margin-left: 50px">

            <a ui-sref="app.energysavingrehuishou"  uib-dropdown-toggle type="button" ng-click="clickFooterButton('fouthshow')">
                <img ng-show="fouthshow"
                     ng-class="fouthshow==true?'active-img inner item-component above-horizon rotateimg  img-responsive center-block':' '"
                     style="position:absolute;margin-top: -15px;margin-left: 50px" class=" "
                     src="assets/img/speed/rotate_36.png"  >
                <img style="position:absolute;;margin-top: 0px;margin-left: 53px"
                     class="inactive-img inner    flashimg img-responsive center-block  "
                     src="assets/img/speed/energysavingimages/jienengliangzhanshibutton_73.png">
            </a>



        </div>

    </div>


</div>
