
<script type="text/javascript">

    console.log('4444444444444');
    $('.slider-lightnav').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: '.slider-lightfor',
        dots: true,
        centerMode: true,
        focusOnSelect: true
    });
    console.log('5555555555555');
    $('.slider-lightfor').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-lightnav'
    });

    $(document).on('ready', function () {
        console.log('2222222222222222222222222222222222222222222222222222222222222222222222');

    });
</script>


<div class=" speed-main-contentpage"   >
<div class="row no-margin speed-main-contentpage-minheight" ng-controller="LightCtrl"    >

    <div class="col-lg-8 margin-top-20 margin-left-10">

        <div class="hr-line-dashed"></div>
        <div class="widget">

            <div class="widget-body">
                <highchart    id="chart1"  style="height: 420px" config="chartConfig">
                <!--<div  ui-jq="plot" style="height: 400px" ui-options="{{StackedChartData}}, {{StackedChartOptions}}" class="chart chart-lg"></div>-->
                <div><img src="assets/img/speed/energysavingimages/images3_03.png"></div>

            </div>

            <div class="hr-line-dashed"></div>


            <!--<div class="hr-line-dashed"></div>-->

            <!--<div class="buttons-preview">-->
            <!--<div class="btn-group btn-group-justified">-->
            <!--<a href="#" class="btn btn-default btn-lg">热舒适</a>-->
            <!--<a href="#" class="btn btn-default btn-lg">声环境</a>-->
            <!--<a href="#" class="btn btn-default btn-lg">光环境</a>-->
            <!--<a href="#" class="btn btn-default btn-lg">PM2.5</a>-->
            <!--<a href="#" class="btn btn-default btn-lg">CO2</a>-->
            <!--</div>-->


            <!--</div>-->
        </div>
    </div>

    <div class="col-lg-3"  style="   ">


            <div class="row"  style=" margin-top: 10px">

                <div class="slider slider-lightnav    center margin-right-50" style="margin-left: 50px;margin-top: 50px; width: 500px ">

                    <div><img src="assets/img/speed/energysavingimages/led03_03.png"></div>
                    <div><img src="assets/img/speed/energysavingimages/led_03.png"></div>
                    <div><img src="assets/img/speed/energysavingimages/led01_03.png"></div>
                    <!--<div><img src="assets/img/speed/energysavingimages/led_124.png"></div>-->
                </div>
            </div>

            <!--<img src="assets/img/speed/LEEDimages/VEDIO_03.png">-->

        <div class="row " >
            <div class="slider slider-lightfor center">

                <div><img src="assets/img/speed/energysavingimages/jienengliangzhanshi_zhaoming_03.png"></div>
                <div><img src="assets/img/speed/energysavingimages/jienengliangzhanshi_zhaoming_03.png"></div>
                <div><img src="assets/img/speed/energysavingimages/jienengliangzhanshi_zhaoming_03.png"></div>
                <div><img src="assets/img/speed/energysavingimages/jienengliangzhanshi_zhaoming_03.png"></div>
            </div>
            <!--<img  style="width:650px;height: 300px"    src="assets/img/speed/LEEDimages/tanpailiang_04.png">-->
        </div>
    </div>
    <!--<div class="col-lg-7  margin-top-20">-->

        <!--<div class="slider slider-for center">-->

            <!--<div><img src="assets/img/speed/LEEDimages/banche_03.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/banche2_03.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/banche_03.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/banche2_03.png"></div>-->
        <!--</div>-->
        <!--<div class="slider slider-nav   margin-left-70 center" style="  width:1000px;">-->

            <!--<div><img src="assets/img/speed/LEEDimages/dongyuanbanche.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/banche5_07.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/dongyuanbanche.png"></div>-->
            <!--<div><img src="assets/img/speed/LEEDimages/banche5_07.png"></div>-->
        <!--</div>-->
    <!--</div>-->



</div>

<div ui-view="energysavingmainfooter"></div>


<div class=" row no-margin breadcrumb-fixed-50   ">

    <div  >
        <ul   id="breadcrumb"   class="ulbreadmargin" >

            <li><a ui-sref="app.dashboard"> <i class="fa fa-home"></i>主页</a></li>
            <li><a ui-sref="app.energysavingmotor"> 节能量展示</a></li>
            <li><a href="#"> 照明</a></li>
        </ul>
    </div>

</div>

</div>