
<audio id="player"  autoplay="autoplay" controls="controls" loop="loop" preload="auto" hidden="false" volume="0.6"
       src="assets/sound/leedmain.mp3">
</audio>
<div class=" speed-main-contentpage"   >
<div class="row no-margin speed-main-contentpage-minheight"  ng-controller="FlotCtrl" >
    <div class="col-lg-6">



        <img src="assets/img/speed/indoorimages/guanghuanjing_03.png"  style=" margin-left:-30px ;margin-top:70px;">  <!--class="margin-top-50  ;"style="margin-left:100px;"-->


        </img>


    </div>

    <div class="col-lg-6">


            <img src="assets/img/speed/indoorimages/guanghuanjing_05.png" style=" margin-left:-30px ;  margin-top:70px;">  <!-- style="margin-left:200px ; margin-top:-200px;"class="margin-top-50  ;"style="margin-left:100px;"-->

            </img>

    </div>
</div>
<div ui-view="indoorfooter" ng-controller="DashboardCtrl"></div>
<div class=" row no-margin breadcrumb-fixed-50   " >

    <div   >
        <ul     id="breadcrumb"   class="ulbreadmargin" >

            <li><a  ui-sref="app.dashboard" > <i class="fa fa-home"></i>主页</a></li>
            <li><a   ui-sref="app.indoormain" > 室内环境</a></li>
            <li><a   ui-sref="" > 光环境</a></li>
        </ul>
    </div>

</div>
</div>