
<script type="text/javascript">

    console.log('4444444444444');
    $('.slider-waternav').slick({
        autoplay:true,
        touchMove:true,
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-waterfor',
        dots: true,
        centerMode: true,
        focusOnSelect: true
    });
    console.log('5555555555555');
    $('.slider-waterfor').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,

        asNavFor: '.slider-waternav'
    });

    $(document).on('ready', function () {
        console.log('2222222222222222222222222222222222222222222222222222222222222222222222');

    });

    responsiveVoice.speak('我厂的用水洁具均为节水产品，经计算，综合节水率比LEED的基准值低45%。' , 'Chinese Female', {rate: 0.95}, {volume: 3});

</script>

<audio id="player"  autoplay="autoplay" controls="controls" loop="loop" preload="auto" hidden="false" volume="0.6"
       src="assets/sound/leedjieshui.mp3">
</audio>
<div class="speed-main-contentpage">
    <div class="row no-margin  speed-main-contentpage-minheight"   >


        <div class="col-lg-7  margin-top-50">

            <div class="slider slider-waterfor center">


                <div><img class="slickimageheigh" src="assets/img/speed/LEEDimages/2.1-1big.png"></div>
                <div><img class="slickimageheigh" src="assets/img/speed/LEEDimages/2.1-2big.png"></div>
                <div><img class="slickimageheigh" src="assets/img/speed/LEEDimages/2.1-3big.png"></div>
                <div><img class="slickimageheigh" src="assets/img/speed/LEEDimages/2.1-4big.png"></div>
            </div>
            <div class="slider slider-waternav   margin-left-70 center" style="  width:1000px;">

                <div><img src="assets/img/speed/LEEDimages/2.1-1.png"></div>
                <div><img src="assets/img/speed/LEEDimages/2.1-2.png"></div>
                <div><img src="assets/img/speed/LEEDimages/2.1-3.png"></div>
                <div><img src="assets/img/speed/LEEDimages/2.1-4.png"></div>
            </div>
        </div>



        <div class="col-lg-5 margin-top-20 margin-left-1 no-padding no-border">
            <p class="speedsontentTitle  margin-top-5 big " style="margin-left:100px;font-size: 30px;pxfont-weight: bold;"> 目的</p>
            <p class="speedsontentTitle  margin-top-5 big " style="margin-left:100px; font-size: 20px;color: #7a7a7a">
                降低用水需求，减少废水排放。
            </p>
            <p class="speedsontentTitle  margin-top-5 big " style="margin-left:100px;font-size: 30px;pxfont-weight: bold;"> 要求</p>
            <p class="speedsontentTitle  margin-top-5 big " style="margin-left:100px; font-size: 20px;color: #7a7a7a">
               与基准相比，整体用水量减少40%，大便器，小便斗用水量减少50%
            </p>
            <p class="speedsontentTitle   big " style=" margin-left:100px;font-size: 30px;pxfont-weight: bold;"> 实施方法</p>
            <p class=" speedsontentTitle " style=" font-family:'Microsoft YaHei';margin-left:100px; font-size: 20px;color: #7a7a7a">
                低流量感应洗手龙头≤1.9   升/分<br>
                低流量沐浴龙头≤6.6升/分<br>
                双冲洗马桶≤3/4.5升/冲<br>
                低流量感应小便池≤1升/冲<br>
                拖布池龙头≤8.3升/分。<br>

            </p>

            <div class="slider slider-waterfor margin-left-20">

                <div>
                    <p class="speedsontentTitle  margin-top-30 big "
                       style="margin-left:100px;font-weight: bold; color: #4469aa">
                        性能特点</p>
                    <p class="speedsontentTitle  margin-top-5 big "
                       style="font-size:24px;color:#2890c6;margin-left:100px;">
                        4.2L单冲马桶，比基准6L低30%</p>

                    <div class="hr-line-dashed"></div>



                </div>
                <div>
                    <p class="speedsontentTitle  margin-top-30 big "
                       style="margin-left:100px;font-weight: bold; color: #4469aa">
                        性能特点</p>
                    <p class="speedsontentTitle  margin-top-5 big "
                       style="font-size:24px;color:#2890c6;margin-left:100px;">
                        0.5L小便斗，比基准3.75L低87%/p>

                    <div class="hr-line-dashed"></div>



                </div>
                <div>
                    <p class="speedsontentTitle  margin-top-30 big "
                       style="margin-left:100px;font-weight: bold; color: #4469aa">
                        性能特点</p>
                    <p class="speedsontentTitle  margin-top-5 big "
                       style="font-size:24px;color:#2890c6;margin-left:100px;">
                        1.5L水龙头，比基准1.9L低21%；</p>

                    <div class="hr-line-dashed"></div>



                </div>
                <div>
                    <p class="speedsontentTitle  margin-top-30 big "
                       style="margin-left:100px;font-weight: bold; color: #4469aa">
                        性能特点</p>
                    <p class="speedsontentTitle  margin-top-5 big "
                       style="font-size:24px;color:#2890c6;margin-left:100px;">
                        1.5L水龙头，比基准1.9L低21%；</p>

                    <div class="hr-line-dashed"></div>



                </div>

            </div>

        </div>

    </div>

    <div ui-view="leedfooter"></div>

    <div class=" row no-margin breadcrumb-fixed-50   ">

        <div  >
            <ul id="breadcrumb"   class="ulbreadmargin" >

                <li><a ui-sref="app.dashboard"> <i class="fa fa-home"></i>
                    主页</a></li>
                <li><a ui-sref="app.leedmain"> LEED</a></li>
                <li><a href="#"> 节约水资源</a></li>
                <li><a href="#"> 节水洁具</a></li>
            </ul>
        </div>

    </div>
</div>