<!-- Logo -->
<div class=" row speedtopbar  no-margin" style="width:1920px;">

    <div class="col-lg-2">
        <a href="index.html">

                <img class="donut donut-front" style="margin-top: 0px;margin-right: 30px"
                     src="assets/img/speed/logo_20.png" alt="Logo">
                <img class="donut donut-back" style="margin-top: 0px;margin-right: 30px"
                     src="assets/img/speed/logo_20.png" alt="Logo">

        </a>
    </div>

    <div class="col-lg-8">
        <img style="margin-top: 20px;margin-right: 30px;margin-left: 280px;" src="assets/img/speed/SPEED_04.png"
             alt="Logo">
        <p class=""
           style=" font-weight: bold;  margin-top:-60px;margin-left: 460px;align-content: center;color: #09367a;font-size: 44px;font-family: 'Microsoft YaHei'">
            - Energy Management System</p>
        </img>
    </div>
</div>

